div[id^="project-column-"].over-limit {
    background-color: #FF5468 !important;
}

div[id^="project-column-"].at-limit {
    background-color: #EFBE43 !important;
}

div[id^="project-column-"].under-limit {
    background-color: #8BB8E8 !important;
}

div[id^="project-column-"].over-limit .list-gradient-top { 
    background:-webkit-linear-gradient(top, #FF5468 0%, rgba(214, 65, 65, 0) 100%); 
    background:linear-gradient(to bottom, #FF5468 0%, rgba(214, 65, 65, 0) 100%); 
}

div[id^="project-column-"].over-limit .list-gradient-bottom { 
    background:-webkit-linear-gradient(top, rgba(214, 65, 65, 0) 0%, #FF5468 100%); 
    background:linear-gradient(to bottom, rgba(214, 65, 65, 0) 0%, #FF5468 100%); 
}

div[id^="project-column-"].at-limit .list-gradient-top { 
    background:-webkit-linear-gradient(top, #EFBE43 0%, rgba(239, 190, 67, 0) 100%); 
    background:linear-gradient(to bottom, #EFBE43 0%, rgba(239, 190, 67, 0) 100%); 
}

div[id^="project-column-"].at-limit .list-gradient-bottom { 
    background:-webkit-linear-gradient(top, rgba(239, 190, 67, 0) 0%, #EFBE43 100%); 
    background:linear-gradient(to bottom, rgba(239, 190, 67, 0) 0%, #EFBE43 100%); 
}

div[id^="project-column-"].under-limit .list-gradient-top { 
    background:-webkit-linear-gradient(top, #EFBE43 0%, rgba(239, 190, 67, 0) 100%); 
    background:linear-gradient(to bottom, #EFBE43 0%, rgba(239, 190, 67, 0) 100%); 
}

div[id^="project-column-"].under-limit .list-gradient-bottom { 
    background:-webkit-linear-gradient(top, rgba(239, 190, 67, 0) 0%, #8BB8E8 100%); 
    background:linear-gradient(to bottom, rgba(239, 190, 67, 0) 0%, #8BB8E8 100%); 
}
